{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container"><br>
<center>
<h2>I do not know what to put here</h2>
</center>
</div>

<div class=container"><br>
<div class="row align-items-center justify-content-center">
<div class="col-md-4">
<form  action="" method="post" role="form">

<div class="form-group">

<label for="name">Team ID:</label>
<input type="text" class="form-control" id="team-id" name="team-id" placeholder="Enter your team ID">
<br>
<label for="surname">Location ID:</label>
<input type="text" class="form-control" id="location-id" name="location-id" placeholder="Enter your current location's ID">
<br>


</div>
<br>

<center>
<button type="submit" class="btn btn-success">Submit</button>
</center>
</form>

<br>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}
{% if "Error" not in message[1]: %}
<div class="alert alert-info alter-dismissable fade show">
<strong>Success! </strong> {{ message[1] }}
<button type="button" class="close" data-dismiss="alert">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %}

{% if "Error" in message[1]: %}
<div class="alert alert-danger alter-dismissable fade show">
<strong>Error: </strong> {{ message[1] }}
<button type="button" class="close" data-dismiss="alert">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

</div>
<br>
</div>
</div>



{% endblock %}
